<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477537481577-i5ssie83kudtsc0n9ti4mkr006frgbrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477537481577-i5ssie83kudtsc0n9ti4mkr006frgbrr</string>
	<key>API_KEY</key>
	<string>AIzaSyBzZIvwufHpa3wgjKUa2dbrNvNRPs05CAA</string>
	<key>GCM_SENDER_ID</key>
	<string>477537481577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.damageDetector</string>
	<key>PROJECT_ID</key>
	<string>damage-detector</string>
	<key>STORAGE_BUCKET</key>
	<string>damage-detector.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477537481577:ios:ca9b47a1c470e0a89cc3f8</string>
</dict>
</plist>